@font-face {
  font-family: "Nu Kinako Mochi";
  src: url("/assets/font/NuKinakoMochi-Reg.woff2") format("woff2"),
       url("/assets/font/NuKinakoMochi-Reg.woff") format("woff")
  ;
}
@font-face {
  font-family: "JF Dot M+H 10";
  src: url("/assets/font/JF-Dot-MPlusH10.woff2") format("woff2"),
       url("/assets/font/JF-Dot-MPlusH10.woff") format("woff")
  ;
}

html, body, p, ul, li, dl, dt, dd, hr {
  margin: 0;
  padding: 0;
}

ul, li { list-style: none; }
hr {
  height: 0px;
  margin: 16px 0;
  border-top: 3px dashed #222;
}

a { text-decoration: none; }
a:link, a:visited { color: #222; }

.l { text-align: left; }
.c { text-align: center; }
.r { text-align: right; }

.txt-body .mb-2em { margin-bottom: 2em; }

.nowrap { white-space: nowrap; }
.mod-mochi {
  font-style: normal;
  vertical-align: -2px;
}

.icon {
  display: inline-block;
  position: relative;
  padding: 0 3px 0 28px;
}
.icon::before {
  display: inline-block;
  position: absolute;
  top: 12px;
  left: 4px;
  width: 16px;
  height: 16px;
  background-image: url("/assets/img/spritesheet_dom.png");
  background-repeat: no-repeat;
  content: "";
}
.icon.gmail::before         { background-position:      0 0; }
.icon.youtube::before       { background-position:  -18px 0; }
.icon.twitter::before       { background-position:  -77px 0; }
.icon.favorite::before      { background-position:  -96px 0; }
.icon.amazon::before        { background-position: -115px 0; }
.icon.facebook-rect::before { background-position: -176px 0; }
.icon.github::before        { background-position: -196px 0; }
.icon.twitter-rect::before  { background-position: -216px 0; }

.icon:hover::after,
.icon:active::after,
.icon:focus::after {
  display: block;
  position: absolute;
  top: -2px;
  left: -2px;
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: 2px;
  border-image-slice: 2;
  border-image-width: 2;
  border-image-repeat: space;
  border-image-source: url('data:image/svg+xml;utf8,<?xml version="1.0" encoding="UTF-8" ?><svg version="1.1" width="5" height="5" xmlns="http://www.w3.org/2000/svg"><path d="M2 1 h1 v1 h-1 z M1 2 h1 v1 h-1 z M3 2 h1 v1 h-1 z M2 3 h1 v1 h-1 z" fill="rgb(34,34,34)" /></svg>');
  border-image-outset: 1;
  content: "";
}

.icon:hover,
.icon:active,
.icon:focus {
  color: #FFF;
  background-color: #222;
}
.icon:hover::before,
.icon:active::before,
.icon:focus::before {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}
.table {
  display: table;
  width: 100%;
}
.table li {
  display: table-cell;
  vertical-align: middle;
}
.table.col-2 li {
  width: 50%;
}
.table.col-3 li {
  width: 33.333%;
}
.cursor-pointer { cursor: pointer; }

html {
  display: table;
  width: 100%;
  height: 100%;
  user-select: none;
  -webkit-touch-callout: none;
}
body {
  display: table-cell;
  overflow: hidden;
  background-color: #CFCBB1;
  text-align: center;
  vertical-align: middle;
}
.is-paused  body { background-color: #222; }
.bg-yellow  body { background-color: #FAFF99; }
.bg-black   body { background-color: #222; }
.is-paused #container::before,
.is-paused #container::after,
.bg-black #container::before,
.bg-black #container::after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAAAAACVcCO3AAAAAnRSTlMAAHaTzTgAAAAhSURBVHjaY2DAAEpK6AzsasDScAammBIYgPlQBi41JDIAqeILsWyojF4AAAAASUVORK5CYII=");
}
canvas {
  position: relative;
  /* outline: 6px solid #222; */
  /* outline: 6px solid red; */
  /* border: 6px solid red; */
}
#container::before,
#container::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAIAAAA/ees8AAAABnRSTlMAAAAAAABupgeRAAAAJklEQVR4AWMgHZw/vRGISJCgwA4EG6cE2fqAGI7Q1cIR1e0YBBIAse3JyY0XPFUAAAAASUVORK5CYII=");
  background-repeat: repeat-x;
  z-index: 1;
  pointer-events: none;
  content: "";
}
#container::before {
  top: 0;
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
#container::after {
  bottom: 0;
}

#container {
  display: inline-block;
  position: relative;
}
/*
iframe#youtube {
  position: fixed;
  bottom: 16px;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 1;
  opacity: 0;
}
*/
iframe#youtube {
  position: absolute;
  top: 61px;
  left: 258px;
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  user-select: none;
  -webkit-transform: scale(0.5625);
  -moz-transform: scale(0.5625);
  -ms-transform: scale(0.5625);
  -o-transform: scale(0.5625);
  transform: scale(0.5625);
}
.yt-loaded iframe#youtube { opacity: 1; }
/* .yt-loaded #youtube { opacity: 0.1; } */
#yt-overlay {
  position: absolute;
  top: 100px;
  left: 328px;
  z-index: 1;
  width: 180px;
  height: 102px;
  background-color: rgba(34, 34, 34, 0.75);
}

#spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  pointer-events: none;
}
#spinner.show { display: block; }
#spinner.hide { display: none; }

.txt-body {
  position: absolute;
  top: 170px;
  left: 78px;
  width: 480px;
  color: #222;
  font-size: 20px;
  font-family: "Nu Kinako Mochi", "JF Dot M+H 10", sans-serif;
  line-height: 40px;
  text-align: left;
  -ms-interpolation-mode: nearest-neighbor;
  image-rendering: pixelated;
}
.txt-body p,
.txt-body dd { margin-bottom: 1em; }
.txt-body p:last-child,
.txt-body dd:last-child { margin-bottom: 0; }

.txt-body caption {
  padding-bottom: 10px;
}
.txt-body caption span {
  padding: 0.5em 1em 0.3em;
  background-color: #222;
  color: #FFF;
  letter-spacing: 2px;
}
.txt-body .pic { margin-bottom: 18px; }
.txt-body .pic img { display: block; }

#cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: #222;
}

#logo {
  overflow: hidden;
  position: absolute;
  top: -30px;
  left: 20px;
  z-index: 2;
  width: 163px;
  height: 29px;
}

#logo img {
  display: block;
  position: absolute;
  image-rendering: pixelated;
  pointer-events: none;
}

#btn-sound-toggle {
  overflow: hidden;
  position: absolute;
  top: -32px;
  right: 20px;
  z-index: 2;
  width: 76px;
  height: 32px;
  cursor: pointer;
  opacity: 0;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}
#btn-sound-toggle.show {
  opacity: 1;
}
#btn-sound-toggle img {
  display: block;
  position: absolute;
  top: 0;
  left: -72px;
  margin-top: 4px;
  image-rendering: pixelated;
  pointer-events: none;
}
#btn-sound-toggle[data-is-mute="true"] img {
  left: -270px;
  margin-top: 0;
}

.pic-profile {
  position: relative;
  overflow: hidden;
  height: 270px;
  margin-bottom: 15px;
}
.pic-profile img {
  display: block;
  position: absolute;
  top: -56px;
  left: 0;
}

.foot-link {
  opacity: 0;
  -webkit-transition: opacity 250ms;
  -moz-transition: opacity 250ms;
  -ms-transition: opacity 250ms;
  -o-transition: opacity 250ms;
  transition: opacity 250ms;
}
.foot-link.show {
  opacity: 1;
}

.foot-link ul {
  position: absolute;
  bottom: 92px;
  left: 24px;
  width: 76px;
  height: 32px;
  font-size: 0;
}
.foot-link li {
  display: inline-block;
  position: relative;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
.foot-link li:first-child {
  margin-right: 12px;
}

.foot-link a {
  display: block;
  height: 100%;
}
.foot-link img {
  display: block;
  position: absolute;
  top: 0;
  image-rendering: pixelated;
}
.foot-link li img {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
}
.foot-link li a:hover img,
.foot-link li a:active img,
.foot-link li a:focus img {
  -webkit-filter: grayscale(0%);
  -moz-filter: grayscale(0%);
  -ms-filter: grayscale(0%);
  -o-filter: grayscale(0%);
  filter: grayscale(0%);
}

#btn-share-tw img { left: -432px; }
#btn-share-fb img { left: -352px; }

.foot-link p {
  position: absolute;
  bottom: 26px;
  left: 68px;
  overflow: hidden;
  width: 32px;
  height: 32px;
}
#link2repo img {
  left: -392px;
}
#link2repo:hover img,
#link2repo:active img,
#link2repo:focus img {
  -webkit-filter: invert(100%);
  -moz-filter: invert(100%);
  -ms-filter: invert(100%);
  -o-filter: invert(100%);
  filter: invert(100%);
}
