@font-face {
  font-family: "Nu Kinako Mochi Ct";
  src: url("/assets/NuKinakoMochiCt-Reg.otf");
}
html {
  display: table;
  width: 100%;
  height: 100%;
}
body {
  display: table-cell;
  overflow: hidden;
  margin: 0;
  padding: 0;
  background-color: #CFCBB1;
  text-align: center;
  vertical-align: middle;
}
canvas {
  position: relative;
  outline: 6px solid #222;
  /* outline: 6px solid red; */
  /* border: 6px solid red; */
}
#container::before,
#container::after {
  display: block;
  position: absolute;
  left: 0;
  width: 100%;
  height: 20px;
  /* background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAUCAIAAAA/ees8AAAABnRSTlMAAAAAAABupgeRAAAAJklEQVR4AWMgHZw/vRGISJCgwA4EG6cE2fqAGI7Q1cIR1e0YBBIAse3JyY0XPFUAAAAASUVORK5CYII="); */
  background-repeat: repeat-x;
  z-index: 1;
  content: "";
}
#container::before {
  top: 0;
  -webkit-transform: scale(1, -1);
  transform: scale(1, -1);
}
#container::after {
  bottom: 0;
}

#container {
  display: inline-block;
  position: relative;
}
#yt {
  position: fixed;
  bottom: 16px;
  right: 0;
  left: 0;
  margin: 0 auto;
  border: 4px solid #FFF;
  outline: 4px solid #222;
  /* pointer-events: none; */
}
.show { opacity: 1; }
.hide { opacity: 0; }
#spinner {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  pointer-events: none;
}
